In [3]:
import pandas as pd
# dataframe from a dict of lists, column orient
data = {
        'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City':['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [4]:
# dataframe from a list of dicts, row orient
data1 = [
        {'Name': 'Alice', 'Age':25, 'City': 'New York'},
        {'Name': 'Bob', 'Age':30, 'City': 'Paris'},
        {'Name': 'Charlie', 'Age':35, 'City': 'London'},
]

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [6]:
# dataframe from CSV data file
rewards_df = pd.read_csv('RewardsData.csv')
print(rewards_df)

      User ID  Birthdate           City     State    Zip  Available Points  \
0           1  1/31/1992   Minneapolis    Georgia  55401               300
1           2        NaN   Los Angeles   Colorado  90210               320
2           3  1/11/1990         Merida        AL  97204               330
3           4  4/16/1990  Winston-Salem        NC  27106             10790
4           5  3/24/1994  Winston-Salem        NC  27109               650
...       ...        ...            ...       ...    ...               ...
7247     7238        NaN            NaN       NaN    NaN               320
7248     7239        NaN            NaN       NaN    NaN               310
7249     7240   3/3/1997            NaN       NaN    NaN               410
7250     7241        NaN            NaN       NaN    NaN               310
7251     7242        NaN            NaN       NaN    NaN               310

      Total Points Earned  Points Spent         Joined On         Last Seen  \
0                     300             0     9/4/2020 0:15  12/16/2021 17:42
1                     320             0   8/19/2020 11:15   4/13/2022 14:28
2                     330             0  10/13/2020 16:20   4/21/2021 10:54
3                   14290          3500   8/18/2020 13:21   6/30/2022 22:22
4                     650             0   8/21/2020 11:27  12/30/2020 10:57
...                   ...           ...               ...               ...
7247                  320             0   6/28/2022 21:02   6/30/2022 12:04
7248                  310             0   6/28/2022 22:43   6/28/2022 22:43
7249                  410             0   6/30/2022 12:47   6/30/2022 12:48
7250                  310             0   6/30/2022 20:38   6/30/2022 20:39
7251                  310             0     7/1/2022 2:27     7/1/2022 2:42

                                        Tags
0                                ClassOf2025
1                          ClassOf2025|apple
2                         Freshman|Developer
3            GraduateStudent|admin|MBBvsDuke
4     Student|NOBSBvsNDGame3|NOBSBvsNDGame3A
...                                      ...
7247                 Student|GraduateStudent
7248                 Student|GraduateStudent
7249                 Student|GraduateStudent
7250                 Student|GraduateStudent
7251                 Student|GraduateStudent

[7252 rows x 11 columns]

In [8]:
rewards_df

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
0,1,1/31/1992,Minneapolis,Georgia,55401,300,300,0,9/4/2020 0:15,12/16/2021 17:42,ClassOf2025
1,2,NaN,Los Angeles,Colorado,90210,320,320,0,8/19/2020 11:15,4/13/2022 14:28,ClassOf2025|apple
2,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,4/21/2021 10:54,Freshman|Developer
3,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,6/30/2022 22:22,GraduateStudent|admin|MBBvsDuke
4,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,12/30/2020 10:57,Student|NOBSBvsNDGame3|NOBSBvsNDGame3A
...,...,...,...,...,...,...,...,...,...,...,...
7247,7238,NaN,NaN,NaN,NaN,320,320,0,6/28/2022 21:02,6/30/2022 12:04,Student|GraduateStudent
7248,7239,NaN,NaN,NaN,NaN,310,310,0,6/28/2022 22:43,6/28/2022 22:43,Student|GraduateStudent
7249,7240,3/3/1997,NaN,NaN,NaN,410,410,0,6/30/2022 12:47,6/30/2022 12:48,Student|GraduateStudent
7250,7241,NaN,NaN,NaN,NaN,310,310,0,6/30/2022 20:38,6/30/2022 20:39,Student|GraduateStudent
7251,7242,NaN,NaN,NaN,NaN,310,310,0,7/1/2022 2:27,7/1/2022 2:42,Student|GraduateStudent

In [11]:
rewards_df.head()

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
0,1,1/31/1992,Minneapolis,Georgia,55401,300,300,0,9/4/2020 0:15,12/16/2021 17:42,ClassOf2025
1,2,NaN,Los Angeles,Colorado,90210,320,320,0,8/19/2020 11:15,4/13/2022 14:28,ClassOf2025|apple
2,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,4/21/2021 10:54,Freshman|Developer
3,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,6/30/2022 22:22,GraduateStudent|admin|MBBvsDuke
4,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,12/30/2020 10:57,Student|NOBSBvsNDGame3|NOBSBvsNDGame3A

In [12]:
rewards_df.tail()

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
7247,7238,NaN,NaN,NaN,NaN,320,320,0,6/28/2022 21:02,6/30/2022 12:04,Student|GraduateStudent
7248,7239,NaN,NaN,NaN,NaN,310,310,0,6/28/2022 22:43,6/28/2022 22:43,Student|GraduateStudent
7249,7240,3/3/1997,NaN,NaN,NaN,410,410,0,6/30/2022 12:47,6/30/2022 12:48,Student|GraduateStudent
7250,7241,NaN,NaN,NaN,NaN,310,310,0,6/30/2022 20:38,6/30/2022 20:39,Student|GraduateStudent
7251,7242,NaN,NaN,NaN,NaN,310,310,0,7/1/2022 2:27,7/1/2022 2:42,Student|GraduateStudent

In [13]:
rewards_df.head(8)

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
0,1,1/31/1992,Minneapolis,Georgia,55401,300,300,0,9/4/2020 0:15,12/16/2021 17:42,ClassOf2025
1,2,NaN,Los Angeles,Colorado,90210,320,320,0,8/19/2020 11:15,4/13/2022 14:28,ClassOf2025|apple
2,3,1/11/1990,Merida,AL,97204,330,330,0,10/13/2020 16:20,4/21/2021 10:54,Freshman|Developer
3,4,4/16/1990,Winston-Salem,NC,27106,10790,14290,3500,8/18/2020 13:21,6/30/2022 22:22,GraduateStudent|admin|MBBvsDuke
4,5,3/24/1994,Winston-Salem,NC,27109,650,650,0,8/21/2020 11:27,12/30/2020 10:57,Student|NOBSBvsNDGame3|NOBSBvsNDGame3A
5,6,10/9/1995,G,AL,85588,7085,7395,310,8/18/2020 14:28,6/8/2022 23:55,GraduateStudent|admin
6,7,9/22/1995,NaN,NaN,NaN,570,570,0,8/21/2020 10:23,4/27/2022 16:27,ClassOf2025
7,8,NaN,NaN,NaN,NaN,2410,2410,0,8/22/2020 13:53,3/31/2022 1:56,ClassOf2022|21DZ

In [14]:
rewards_df.tail(8)

,User ID,Birthdate,City,State,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Tags
7244,7235,6/20/2004,Guaynabo,Puerto Rico,969,440,440,0,6/27/2022 10:21,7/1/2022 8:36,Student|ClassOf2026
7245,7236,NaN,NaN,NaN,NaN,310,310,0,6/27/2022 18:22,6/27/2022 18:22,Student|GraduateStudent
7246,7237,10/19/2003,NaN,NaN,NaN,410,410,0,6/28/2022 12:14,6/28/2022 12:19,Student|ClassOf2026
7247,7238,NaN,NaN,NaN,NaN,320,320,0,6/28/2022 21:02,6/30/2022 12:04,Student|GraduateStudent
7248,7239,NaN,NaN,NaN,NaN,310,310,0,6/28/2022 22:43,6/28/2022 22:43,Student|GraduateStudent
7249,7240,3/3/1997,NaN,NaN,NaN,410,410,0,6/30/2022 12:47,6/30/2022 12:48,Student|GraduateStudent
7250,7241,NaN,NaN,NaN,NaN,310,310,0,6/30/2022 20:38,6/30/2022 20:39,Student|GraduateStudent
7251,7242,NaN,NaN,NaN,NaN,310,310,0,7/1/2022 2:27,7/1/2022 2:42,Student|GraduateStudent

In [17]:
list(rewards_df.columns)

['User ID',
 'Birthdate',
 'City',
 'State',
 'Zip',
 'Available Points',
 'Total Points Earned',
 'Points Spent',
 'Joined On',
 'Last Seen',
 'Tags']

In [18]:
#display the no. of rows and columns 
rewards_df.shape

(7252, 11)