In [1]:
import pandas as pd

#create DataFrame from RewardsData CSV
rewards_df_sample = pd.read_csv('WrangledRewardsData.csv')
rewards_df_sample

,User ID,Birthdate,City,State Name,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen
0,1,1/31/1992,Minneapolis,Georgia,GA,55401,300,300,0,9/4/2020 0:15,12/16/2021 17:42
1,3,1/11/1990,Merida,Alabama,AL,97204,330,330,0,10/13/2020 16:20,4/21/2021 10:54
2,4,4/16/1990,Winston-Salem,North Carolina,NC,27106,10790,14290,3500,8/18/2020 13:21,6/30/2022 22:22
3,5,3/24/1994,Winston-Salem,North Carolina,NC,27109,650,650,0,8/21/2020 11:27,12/30/2020 10:57
4,10,7/20/1999,Winston-Salem,North Carolina,NC,27106,8465,8515,50,8/22/2020 14:42,4/9/2022 14:10
...,...,...,...,...,...,...,...,...,...,...,...
148,7220,8/7/1999,Winston-Salem,North Carolina,NC,27106,430,430,0,6/22/2022 17:36,6/26/2022 16:39
149,7219,6/12/2004,Lutherville,Maryland,MD,21093,490,490,0,6/22/2022 17:28,6/30/2022 8:43
150,7220,8/7/1999,Winston-Salem,North Carolina,NC,27106,430,430,0,6/22/2022 17:36,6/26/2022 16:39
151,7227,3/14/2000,Clemmons,North Carolina,NC,27012,460,460,0,6/23/2022 22:18,6/29/2022 23:40
152,7230,5/18/1999,Winston-Salem,North Carolina,NC,27107,410,410,0,6/24/2022 16:03,6/24/2022 16:06

In [2]:
rewards_df_sample.dtypes #see dataframe data types

User ID                 int64
Birthdate              object
City                   object
State Name             object
State Abbreviation     object
Zip                     int64
Available Points        int64
Total Points Earned     int64
Points Spent            int64
Joined On              object
Last Seen              object
dtype: object

In [3]:
# convert 'Birthdate' column from a generic object to datetime dtype
rewards_df_sample['Birthdate'] = pd.to_datetime(rewards_df_sample['Birthdate'])

# convert 'Joined On' column from a generic object to datetime dtype
rewards_df_sample['Joined On'] = pd.to_datetime(rewards_df_sample['Joined On'])

# convert 'Last Seen' column from a generic object to datetime dtype
rewards_df_sample['Last Seen'] = pd.to_datetime(rewards_df_sample['Last Seen'])

rewards_df_sample.dtypes

User ID                         int64
Birthdate              datetime64[ns]
City                           object
State Name                     object
State Abbreviation             object
Zip                             int64
Available Points                int64
Total Points Earned             int64
Points Spent                    int64
Joined On              datetime64[ns]
Last Seen              datetime64[ns]
dtype: object

In [4]:
rewards_df_sample

,User ID,Birthdate,City,State Name,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen
0,1,1992-01-31,Minneapolis,Georgia,GA,55401,300,300,0,2020-09-04 00:15:00,2021-12-16 17:42:00
1,3,1990-01-11,Merida,Alabama,AL,97204,330,330,0,2020-10-13 16:20:00,2021-04-21 10:54:00
2,4,1990-04-16,Winston-Salem,North Carolina,NC,27106,10790,14290,3500,2020-08-18 13:21:00,2022-06-30 22:22:00
3,5,1994-03-24,Winston-Salem,North Carolina,NC,27109,650,650,0,2020-08-21 11:27:00,2020-12-30 10:57:00
4,10,1999-07-20,Winston-Salem,North Carolina,NC,27106,8465,8515,50,2020-08-22 14:42:00,2022-04-09 14:10:00
...,...,...,...,...,...,...,...,...,...,...,...
148,7220,1999-08-07,Winston-Salem,North Carolina,NC,27106,430,430,0,2022-06-22 17:36:00,2022-06-26 16:39:00
149,7219,2004-06-12,Lutherville,Maryland,MD,21093,490,490,0,2022-06-22 17:28:00,2022-06-30 08:43:00
150,7220,1999-08-07,Winston-Salem,North Carolina,NC,27106,430,430,0,2022-06-22 17:36:00,2022-06-26 16:39:00
151,7227,2000-03-14,Clemmons,North Carolina,NC,27012,460,460,0,2022-06-23 22:18:00,2022-06-29 23:40:00
152,7230,1999-05-18,Winston-Salem,North Carolina,NC,27107,410,410,0,2022-06-24 16:03:00,2022-06-24 16:06:00

In [5]:
# calculate time difference between last seen and joined on
rewards_df_sample['Number of Days Active'] = rewards_df_sample['Last Seen'] - rewards_df_sample['Joined On']
rewards_df_sample

,User ID,Birthdate,City,State Name,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Number of Days Active
0,1,1992-01-31,Minneapolis,Georgia,GA,55401,300,300,0,2020-09-04 00:15:00,2021-12-16 17:42:00,468 days 17:27:00
1,3,1990-01-11,Merida,Alabama,AL,97204,330,330,0,2020-10-13 16:20:00,2021-04-21 10:54:00,189 days 18:34:00
2,4,1990-04-16,Winston-Salem,North Carolina,NC,27106,10790,14290,3500,2020-08-18 13:21:00,2022-06-30 22:22:00,681 days 09:01:00
3,5,1994-03-24,Winston-Salem,North Carolina,NC,27109,650,650,0,2020-08-21 11:27:00,2020-12-30 10:57:00,130 days 23:30:00
4,10,1999-07-20,Winston-Salem,North Carolina,NC,27106,8465,8515,50,2020-08-22 14:42:00,2022-04-09 14:10:00,594 days 23:28:00
...,...,...,...,...,...,...,...,...,...,...,...,...
148,7220,1999-08-07,Winston-Salem,North Carolina,NC,27106,430,430,0,2022-06-22 17:36:00,2022-06-26 16:39:00,3 days 23:03:00
149,7219,2004-06-12,Lutherville,Maryland,MD,21093,490,490,0,2022-06-22 17:28:00,2022-06-30 08:43:00,7 days 15:15:00
150,7220,1999-08-07,Winston-Salem,North Carolina,NC,27106,430,430,0,2022-06-22 17:36:00,2022-06-26 16:39:00,3 days 23:03:00
151,7227,2000-03-14,Clemmons,North Carolina,NC,27012,460,460,0,2022-06-23 22:18:00,2022-06-29 23:40:00,6 days 01:22:00
152,7230,1999-05-18,Winston-Salem,North Carolina,NC,27107,410,410,0,2022-06-24 16:03:00,2022-06-24 16:06:00,0 days 00:03:00

In [6]:
# convert joined on and last seen to date only
rewards_df_sample['Joined On'] = rewards_df_sample['Joined On'].dt.date
rewards_df_sample['Last Seen'] = rewards_df_sample['Last Seen'].dt.date

#calculate the date difference between Last Seen and Joined On
# rewards_df_sample['Number of Days Active'] = pd.to_datetime(rewards_df_sample['Number of Days Active'])
rewards_df_sample['Number of Days Active'] = (rewards_df_sample['Last Seen'] - rewards_df_sample['Joined On'])
rewards_df_sample

,User ID,Birthdate,City,State Name,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Number of Days Active
0,1,1992-01-31,Minneapolis,Georgia,GA,55401,300,300,0,2020-09-04,2021-12-16,"468 days, 0:00:00"
1,3,1990-01-11,Merida,Alabama,AL,97204,330,330,0,2020-10-13,2021-04-21,"190 days, 0:00:00"
2,4,1990-04-16,Winston-Salem,North Carolina,NC,27106,10790,14290,3500,2020-08-18,2022-06-30,"681 days, 0:00:00"
3,5,1994-03-24,Winston-Salem,North Carolina,NC,27109,650,650,0,2020-08-21,2020-12-30,"131 days, 0:00:00"
4,10,1999-07-20,Winston-Salem,North Carolina,NC,27106,8465,8515,50,2020-08-22,2022-04-09,"595 days, 0:00:00"
...,...,...,...,...,...,...,...,...,...,...,...,...
148,7220,1999-08-07,Winston-Salem,North Carolina,NC,27106,430,430,0,2022-06-22,2022-06-26,"4 days, 0:00:00"
149,7219,2004-06-12,Lutherville,Maryland,MD,21093,490,490,0,2022-06-22,2022-06-30,"8 days, 0:00:00"
150,7220,1999-08-07,Winston-Salem,North Carolina,NC,27106,430,430,0,2022-06-22,2022-06-26,"4 days, 0:00:00"
151,7227,2000-03-14,Clemmons,North Carolina,NC,27012,460,460,0,2022-06-23,2022-06-29,"6 days, 0:00:00"
152,7230,1999-05-18,Winston-Salem,North Carolina,NC,27107,410,410,0,2022-06-24,2022-06-24,0:00:00

In [7]:
# get today's date
todays_date = pd.to_datetime('today')
todays_date

Timestamp('2025-11-09 17:07:30.952570')

In [8]:
# subtract each users birthdate from today's datetime
rewards_df_sample['User Age'] = todays_date - rewards_df_sample['Birthdate']
rewards_df_sample.head(3)

,User ID,Birthdate,City,State Name,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Number of Days Active,User Age
0,1,1992-01-31,Minneapolis,Georgia,GA,55401,300,300,0,2020-09-04,2021-12-16,"468 days, 0:00:00",12336 days 17:07:30.952570
1,3,1990-01-11,Merida,Alabama,AL,97204,330,330,0,2020-10-13,2021-04-21,"190 days, 0:00:00",13086 days 17:07:30.952570
2,4,1990-04-16,Winston-Salem,North Carolina,NC,27106,10790,14290,3500,2020-08-18,2022-06-30,"681 days, 0:00:00",12991 days 17:07:30.952570

In [9]:
rewards_df_sample.dtypes

User ID                            int64
Birthdate                 datetime64[ns]
City                              object
State Name                        object
State Abbreviation                object
Zip                                int64
Available Points                   int64
Total Points Earned                int64
Points Spent                       int64
Joined On                         object
Last Seen                         object
Number of Days Active             object
User Age                 timedelta64[ns]
dtype: object

In [10]:
# initialize pandas timestamp variables for birthdate and today EXAMPLE
birthdate = pd.to_datetime('1992-01-31')
today = pd.to_datetime('2024-01-15')

# extract year values from dates using Python's datetime instance attributes
birthdate_year = birthdate.year
today_year = today.year

#calculate the year difference
year_diff = today_year - birthdate_year
print(year_diff)

32

In [11]:
# need to accoutn for day and month as user is still 31 (birthdate not yet reached)
# boolean expression comparing the today's day month against the birthdate day month
((today.month, today.day) < (birthdate.month, birthdate.day))

True

In [12]:
# initialize pandas timestamp variables for birthdate and today EXAMPLE
birthdate = pd.to_datetime('1992-01-31')
today = pd.to_datetime('2024-01-15')

# extract year values from dates using Python's datetime instance attributes
birthdate_year = birthdate.year
today_year = today.year

#calculate the year difference
year_diff = today_year - birthdate_year

age = year_diff - ((today.month, today.day) < (birthdate.month, birthdate.day))
print(age)

31

In [13]:
# define a function using input
def calculateAge(birthdate):
    today = pd.to_datetime('today')

    # extract year values from dates using Python's datetime instance attributes
    birthdate_year = birthdate.year
    today_year = today.year

    #calculate the year difference
    year_diff = today_year - birthdate_year

    age = year_diff - ((today.month, today.day) < (birthdate.month, birthdate.day))

    return age

In [14]:
# apply calculateAge() function to update 'User Age' column values
rewards_df_sample['User Age'] = rewards_df_sample['Birthdate'].apply(calculateAge)
rewards_df_sample.head(3)

,User ID,Birthdate,City,State Name,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Number of Days Active,User Age
0,1,1992-01-31,Minneapolis,Georgia,GA,55401,300,300,0,2020-09-04,2021-12-16,"468 days, 0:00:00",33
1,3,1990-01-11,Merida,Alabama,AL,97204,330,330,0,2020-10-13,2021-04-21,"190 days, 0:00:00",35
2,4,1990-04-16,Winston-Salem,North Carolina,NC,27106,10790,14290,3500,2020-08-18,2022-06-30,"681 days, 0:00:00",35