In [14]:
import pandas as pd

#create DataFrame from CleanRewardsData CSV
rewards_df_clean = pd.read_csv('CleanRewardsData.csv')
rewards_df_clean

,User ID,Birthdate,City,State Name,State Abbreviation,Zip,Available Points,Total Points Earned,Points Spent,Joined On,Last Seen,Number of Days Active,User Age
0,1,1/31/1992,Minneapolis,Georgia,GA,55401,300,300,0,9/4/2020,12/16/2021,468 days,31
1,3,1/11/1990,Merida,Alabama,AL,97204,330,330,0,10/13/2020,4/21/2021,190 days,34
2,4,4/16/1990,Winston-Salem,North Carolina,NC,27106,10790,14290,3500,8/18/2020,6/30/2022,681 days,33
3,5,3/24/1994,Winston-Salem,North Carolina,NC,27109,650,650,0,8/21/2020,12/30/2020,131 days,29
4,10,7/20/1999,Winston-Salem,North Carolina,NC,27106,8465,8515,50,8/22/2020,4/9/2022,595 days,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,7217,1/8/2004,Delhi,New York,NY,13753,460,460,0,6/22/2022,6/29/2022,7 days,20
140,7219,6/12/2004,Lutherville,Maryland,MD,21093,490,490,0,6/22/2022,6/30/2022,8 days,19
141,7220,8/7/1999,Winston-Salem,North Carolina,NC,27106,430,430,0,6/22/2022,6/26/2022,4 days,24
142,7227,3/14/2000,Clemmons,North Carolina,NC,27012,460,460,0,6/23/2022,6/29/2022,6 days,23
143,7230,5/18/1999,Winston-Salem,North Carolina,NC,27107,410,410,0,6/24/2022,6/24/2022,0 days,24

In [8]:
# group records by state name as it has many repeats
state_groups = rewards_df_clean.groupby('State Name')
state_groups

In [10]:
# output the sum aggregation values for numeric columns
state_groups.sum(numeric_only=True)

,User ID,Zip,Available Points,Total Points Earned,Points Spent,User Age
State Name,,,,,,
Alabama,3,97204,330,330,0,34
California,10500,275656,9510,15510,6000,25
Colorado,1845,80123,4670,4970,300,21
Florida,26333,231076,10070,19120,9050,155
Georgia,12518,176488,19165,20275,1110,116
Illinois,5230,180648,57215,58790,1575,64
Kentucky,3226,40222,5750,5750,0,21
Maryland,8100,63000,5805,9315,3510,62
Minnesota,2577,55439,6755,7080,325,22
New Mexico,6683,88101,410,410,0,29
New York,26166,101972,22480,22525,45,178
North Carolina,330475,2616730,266660,377320,110660,2431
Ohio,4821,90593,8510,9010,500,43
Pennsylvania,6585,73306,21865,23565,1700,89
South Carolina,1044,29466,4755,5380,625,23
Tennessee,10052,112521,17600,17600,0,60
Texas,5279,229055,11930,14465,2535,65
Wisconsin,374,53217,2890,11940,9050,24

In [11]:
#output multiple aggregation values for 'Points Spent' column
state_groups['Points Spent'].agg(['count', 'sum', 'mean', 'max', 'min'])

                count     sum         mean    max   min
State Name
Alabama             1       0     0.000000      0     0
California          3    6000  2000.000000   6000     0
Colorado            1     300   300.000000    300   300
Florida             7    9050  1292.857143   9050     0
Georgia             5    1110   222.000000    810     0
Illinois            3    1575   525.000000   1000     0
Kentucky            1       0     0.000000      0     0
Maryland            3    3510  1170.000000   3010     0
Minnesota           1     325   325.000000    325   325
New Mexico          1       0     0.000000      0     0
New York            8      45     5.625000     25     0
North Carolina     96  110660  1152.708333  17000     0
Ohio                2     500   250.000000    500     0
Pennsylvania        4    1700   425.000000   1000     0
South Carolina      1     625   625.000000    625   625
Tennessee           3       0     0.000000      0     0
Texas               3    2535   845.000000   1000   535
Wisconsin           1    9050  9050.000000   9050  9050

In [5]:
#output multiple aggregation values for multiple columns
state_groups.agg({'Total Points Earned': ['sum','max','min'], 'Points Spent':['sum','max','min']})

               Total Points Earned               Points Spent
                               sum    max    min          sum    max   min
State Name
Alabama                        330    330    330            0      0     0
California                   15510  14510    400         6000   6000     0
Colorado                      4970   4970   4970          300    300   300
Florida                      19120  10530    400         9050   9050     0
Georgia                      20275  16790    300         1110    810     0
Illinois                     58790  52165   2170         1575   1000     0
Kentucky                      5750   5750   5750            0      0     0
Maryland                      9315   7725    490         3510   3010     0
Minnesota                     7080   7080   7080          325    325   325
New Mexico                     410    410    410            0      0     0
New York                     22525  10340    400           45     25     0
North Carolina              377320  20310    200       110660  17000     0
Ohio                          9010   6440   2570          500    500     0
Pennsylvania                 23565  11235    700         1700   1000     0
South Carolina                5380   5380   5380          625    625   625
Tennessee                    17600   8090   4230            0      0     0
Texas                        14465   6700   3650         2535   1000   535
Wisconsin                    11940  11940  11940         9050   9050  9050

In [13]:
# group records by city and state name
city_state_groups = rewards_df_clean.groupby(['City','State Name'])
city_state_groups.sum(numeric_only=True)

,,User ID,Zip,Available Points,Total Points Earned,Points Spent,User Age
City,State Name,,,,,,
Atlanta,Georgia,2524,60649,1955,2765,810,43
Aurora,New York,2814,13026,1980,1980,0,23
Austin,Texas,625,78620,3580,4115,535,23
Bakersfield,California,1179,93312,8510,14510,6000,2
Bethesda,Maryland,54,20814,4715,7725,3010,22
Chapel Hill,North Carolina,657,27516,1535,1535,0,25
Charlotte,North Carolina,22479,169438,5280,13630,8350,154
Clemmons,North Carolina,7227,27012,460,460,0,23
Cleveland,North Carolina,6825,27013,400,400,0,22
Clovis,New Mexico,6683,88101,410,410,0,29
Dallas,Texas,4654,150435,8350,10350,2000,42
Delhi,New York,7217,13753,460,460,0,20
Downers Grove,Illinois,807,60515,1595,2170,575,22
Durham,North Carolina,92,27707,1000,1000,0,21
Edina,Minnesota,2577,55439,6755,7080,325,22
Fort Myers,Florida,3792,33908,910,910,0,22
Gainesville,Florida,3267,32608,1540,1540,0,20
Greensboro,North Carolina,6289,54816,12140,12140,0,42
Huntersville,North Carolina,3022,28078,1860,1860,0,20
Indian Trail,North Carolina,1740,28079,14300,14400,100,22
Jacksonville,Florida,75,32223,1480,10530,9050,25
Jamesville,New York,3434,13078,1200,1200,0,20
Larchmont,New York,1693,10538,1880,1900,20,21
Libertyville,Illinois,3180,60048,3455,4455,1000,21
Lincoln University,Pennsylvania,388,19352,11235,11235,0,22
Littleton,Colorado,1845,80123,4670,4970,300,21
Locust,North Carolina,1365,28097,2700,3200,500,22
Louisville,Kentucky,3226,40222,5750,5750,0,21
Lutherville,Maryland,8046,42186,1090,1590,500,40
Malvern,Pennsylvania,3013,19355,5160,5160,0,22
Manhattan Beach,California,4019,90266,400,400,0,21
Memphis,Tennessee,3453,38112,4230,4230,0,20
Merida,Alabama,3,97204,330,330,0,34
Milwaukee,Wisconsin,374,53217,2890,11940,9050,24
Minneapolis,Georgia,1,55401,300,300,0,31
Mooresville,North Carolina,5738,56232,4515,6105,1590,44
Morganton,North Carolina,1364,28655,4980,4980,0,22
Mt. Pleasant,South Carolina,1044,29466,4755,5380,625,23
Nashville,Tennessee,6599,74409,13370,13370,0,40
Northport,New York,1049,11768,3565,3565,0,21
Oakwood,Ohio,3997,45419,2070,2570,500,20
Ormond Beach,Florida,3598,32174,3680,3680,0,25
Palm Beach Gardens,Florida,5359,33410,400,400,0,20
Palmetto Bay,Florida,3580,33157,1400,1400,0,20
Perry,New York,511,14530,10315,10340,25,23
Pittsburgh,Pennsylvania,1054,15217,5470,6470,1000,23
Rex,Georgia,2778,30273,16490,16790,300,23
Rome,Georgia,7215,30165,420,420,0,19
San Marcos,California,5302,92078,600,600,0,2
Smithtown,New York,6730,11787,400,400,0,26
Supply,North Carolina,2615,28462,2230,2530,300,22
Terrace Park,Ohio,824,45174,6440,6440,0,23
Thomasville,North Carolina,15,27360,5750,5750,0,23
Valrico,Florida,6662,33596,660,660,0,23
Walkertown,North Carolina,6118,27051,1580,1580,0,30
Waukegan,Illinois,1243,60085,52165,52165,0,21
Waxhaw,North Carolina,3167,28173,1160,1160,0,20
West Chester,Pennsylvania,2130,19382,0,700,700,22
Whitesboro,New York,2718,13492,2680,2680,0,24
Winston-Salem,North Carolina,261762,2003041,206770,306590,99820,1919